@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewBag.Title = "Create Nothi";
    int RoleId = 0;
}
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    RoleId = Int32.Parse(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "RoleId")?.Value);
}


<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidenavmenu">
    @await Component.InvokeAsync("SideNav", new { roleId = RoleId, controllerName = ViewContext.RouteData.Values["Controller"] });
</aside>


<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" hidden></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("CreateNothi","NothiMovement")">Nothi Movement</a></li>
                        <li class="breadcrumb-item active">Create Nothi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Nothi Setup</h3>
                </div>
                <form class="form-horizontal" id="frmNothiDetails">
                    <div class="card-body">
                        <input type="hidden" class="form-control form-element" id="SL" name="SL" />
                        <input type="hidden" class="form-control form-element" id="InstituteId" name="InstituteId" />
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="DepartmentId">Department<span style="color:red">*</span> </label>
                                <select class="form-control form-element validation non-cleared" required id="DepartmentId" name="DepartmentId">
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="NothiTypeId">Nothi Type<span style="color:red">*</span> </label>
                                <select class="form-control form-element validation" required id="NothiTypeId" name="NothiTypeId">
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="NothiId">Nothi Id</label>
                                <input type="text" class="form-control form-element validation" disabled id="NothiId" name="NothiId" placeholder="System Generated Nothi Id">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="NothiName">Nothi Name<span style="color:red">*</span> </label>
                                <input type="text" class="form-control form-element validation" required id="NothiName" name="NothiName" placeholder="Nothi Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="NothiNameBang">Nothi Name (Bangla)</label>
                                <input type="text" class="form-control form-element validation" id="NothiNameBang" name="NothiNameBang" placeholder="Nothi Name (Bangla)">
                            </div>
                        </div>
                            <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="NothiName">Nothi Number<span style="color:red">*</span> </label>
                                <input type="text" class="form-control form-element validation" required id="NothiNumber" name="NothiNumber" placeholder="Nothi Number">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="NothiNumberBang">Nothi Number (Bangla)</label>
                                <input type="text" class="form-control form-element validation" id="NothiNumberBang" name="NothiNumberBang" placeholder="Nothi Number (Bangla)">
                            </div>
                        </div>

                        <div class="form-row" style="padding-top:10px;">
                            <div class="form-group col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="IsActive" />
                                    <label class="form-check-label" for="IsActive">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save </button>
                        <button type="reset" id="btnClear" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i> Clear</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Nothi List</h3>
                </div>
                <div class="card-body">
                    <div id="formDetails"></div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/pagejs/nothi/NothiDetails.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            NothiDetails.init();
        });
    </script>
}
