@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewBag.Title = "Nothi Movement Dashboard";
    int RoleId = 0;
}
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    RoleId = Int32.Parse(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "RoleId")?.Value);
}


<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidenavmenu">
    @await Component.InvokeAsync("SideNav", new { roleId = RoleId, controllerName = ViewContext.RouteData.Values["Controller"] });
</aside>


<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" hidden>Nothi Movement</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","NothiMovement")">Nothi</a></li>
                        <li class="breadcrumb-item active">Nothi Movement</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Nothi Movement</h3>
                </div>
                <form class="form-horizontal" id="frmNothiMovement">
                    <div class="card-body">
                        <input type="hidden" class="form-control form-element" id="NothiMovementId" name="NothiMovementId" />
                        <input type="hidden" class="form-control form-element" id="InstituteId" name="InstituteId" />
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="NothiId">Nothi<span style="color:red">*</span> </label>
                                <select class="form-control form-element validation" required id="NothiId" name="NothiId">
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="SendToDepartmentId">Send To Dept.<span style="color:red">*</span> </label>
                                <select class="form-control form-element validation" required id="SendToDepartmentId" name="SendToDepartmentId">
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="CommentsWhileSending">Remarks<span style="color:red">*</span> </label>
                                <textarea class="form-control form-element editor validation" id="CommentsWhileSending" name="CommentsWhileSending"></textarea>
                            </div>
                        </div>
                        <div class="form-row" style="padding-top:10px;">
                            <div class="form-group col-md-4">
                                <label>&nbsp; </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="IsFinancial" />
                                    <label class="form-check-label" for="IsFinancial">
                                        Financial Transaction Related?
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="FinancialAmount">Amount</label>
                                <input type="text" class="form-control form-element decimal validation" id="FinancialAmount" name="FinancialAmount" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save </button>
                        <button type="reset" id="btnClear" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i> Clear</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Nothi Movement List</h3>
                </div>
                <div class="card-body">
                    <div id="formDetails"></div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/pagejs/nothi/NothiMovement.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            NothiMovement.init();
        });
    </script>
}
