.form-group {
    margin-bottom: 0.2rem !important;
}

label {
    margin-bottom: 0.2rem !important;
}

.msg-error {
    color:red;
}

.table td, .table th {
    padding: 0.3rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}