
@model IEnumerable<Layer.Model.HRMS.Security.UserRoles>
@{

    int sl = 1;

    <table id="tblUserRolesDetails" class="table table-bordered table-striped dataTable">
        <thead>
            <tr>
                <th>SL</th>
                <th>Role Name</th>
                <th>Description</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model.OrderByDescending(o => o.RoleId))
                {
                    <tr>
                        <td>@sl @{sl++;}</td>
                        <td>@item.RoleName</td>
                        <td>@item.RoleDescription</td>
                        <td>
                            @if (item.IsActive)
                            {


                                <p style="color:green">Active</p>
                            }
                            else
                            {
                                <p style="color:red">Inactive</p>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm btnEdit" data-id="@item.RoleId"><i class="fa fa-edit"></i> Edit </button>
                            <button type="button" class="btn btn-danger btn-sm btnDelete" data-id="@item.RoleId"><i class="fa fa-trash"></i> Delete </button>
                        </td>
                    </tr>
                }
            }

        </tbody>
        @if (Model.Any())
        {
            <tfoot>
                <tr>
                    <th>SL</th>
                    <th>Role Name</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        }
    </table>

}
<script type="text/javascript">
    makePaginationWithExport("tblUserRolesDetails");
</script>

