
@model IEnumerable<Layer.Model.HRMS.Recruitment.JobList>
@{

    int sl = 1;

    <table id="tblJobListDetails" class="table table-bordered table-striped dataTable">
        <thead>
            <tr>
                <th>SL</th>
                <th>SOC CODE</th>
                <th>Job Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model.OrderByDescending(o => o.JobId))
                {
                    <tr>
                        <td>@sl @{sl++;}</td>
                        <td>@item.SOCCode</td>
                        <td>@item.JobTitle</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm btnEdit" data-id="@item.JobId"><i class="fa fa-edit"></i> Edit </button>
                            <button type="button" class="btn btn-danger btn-sm btnDelete" data-id="@item.JobId"><i class="fa fa-trash"></i> Delete </button>
                        </td>
                    </tr>
                }
            }

        </tbody>
        @if (Model.Any())
        {
            <tfoot>
                <tr>
                    <th>SL</th>
                    <th>SOC CODE</th>
                    <th>Job Title</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        }
    </table>

}
<script type="text/javascript">
    makePaginationWithExport("tblJobListDetails");
</script>

