
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{

    ViewBag.Title = "Role Wise Screen Setup";
    int RoleId = 0;
}
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    RoleId = Int32.Parse(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "RoleId")?.Value);
}
<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidenavmenu">
    @await Component.InvokeAsync("SideNav", new { roleId = RoleId, controllerName = ViewContext.RouteData.Values["Controller"] });
</aside>

<section class="content">
    <div class="container-fluid">
        <div class="card card-cyan">
            <div class="card-header">
                <h3 class="card-title">Role Wise Screen Setup</h3>
            </div>
            <form class="form-horizontal" id="frmRoleWiseScreenPermission">
                <div class="card-body">
                    <input type="hidden" class="form-control form-element" id="InstituteId" name="InstituteId" />
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Role<span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control form-element validation" data-v-index="0" required id="RoleId" name="RoleId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Module</label>
                        <div class="col-sm-4">
                            <select class="form-control form-element validation" id="ModuleId" name="ModuleId"></select>
                        </div>

                        <label class="col-sm-2 control-label">Sub Module</label>
                        <div class="col-sm-4">
                            <select class="form-control form-element validation" id="SubModuleId" name="SubModuleId"></select>
                        </div>
                    </div>
                </div>
               
                <!-- /.card-footer -->
            </form>
        </div>

        <!-- /.row -->
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-cyan">
            <div class="card-header">
                <h3 class="card-title">Screen List</h3>
            </div>
            <div class="card-body">
                <div id="formDetails"></div>
            </div>
            <div class="card-footer">
                <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save </button>
                <button type="reset" id="btnClear" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i> Clear</button>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/pageJs/security/RoleWiseScreenPermission.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            RoleWiseScreenPermission.init();
        });
    </script>
}
