@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{

    ViewBag.Title = "User Wise Screen Setup";
    int RoleId = 0;
}
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    RoleId = Int32.Parse(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "RoleId")?.Value);
}
<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidenavmenu">
    @await Component.InvokeAsync("SideNav", new { roleId = RoleId, controllerName = ViewContext.RouteData.Values["Controller"] });
</aside>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Security">Security</a></li>
                        <li class="breadcrumb-item active">Role Wise Screen Setup</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Role Wise Screen Setup </h3>
                </div>
                <form class="form-horizontal" id="frmRoleWiseScreenPermission">
                    <div class="card-body">
                        <input type="hidden" class="form-control form-element" id="InstituteId" name="InstituteId" />
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="UserName">User Name</label>
                                <select class="form-control form-element validation" data-v-index="0" required id="UserId" name="UserId"></select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="Module">Module</label>
                                <select class="form-control form-element validation" id="ModuleId" name="ModuleId"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="SubModule">Sub Module</label>
                                <select class="form-control form-element validation" id="SubModuleId" name="SubModuleId"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Role">Screen Name</label>
                                <select class="form-control form-element validation" id="ScreenCode" name="ScreenCode"></select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="btnAdd" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add </button>
                        <button type="reset" id="btnRefresh" class="btn btn-info pull-right"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                    <!-- /.card-footer -->
                </form>

            </div>
            <!-- /.row -->
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Other Screen List (Except Role Wise Screen)</h3>
                </div>
                <div class="card-body">
                    <div id="formDetails"></div>
                </div>
                <div class="card-footer">
                    <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save </button>
                    <button type="reset" id="btnClear" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i> Clear</button>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/pageJs/security/UserWiseOtherScreen.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            UserWiseOtherScreen.init();
        });
    </script>
}
