@model Int32

<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidenavmenu">
    @await Component.InvokeAsync("SideNav",new {subModuleId=Model});
</aside>



<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            Content ----
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
