<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidenavmenu">

</aside>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            Content ----
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var url = "/SideNav/GetSideNav";
            $("#sidenavmenu").load(url);
        });
    </script>
}