@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{

    ViewBag.Title = "Employee Add";
    int RoleId = 0;
}
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    RoleId = Int32.Parse(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "RoleId")?.Value);
}
<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidenavmenu">
    @await Component.InvokeAsync("SideNav", new { roleId = RoleId, controllerName = ViewContext.RouteData.Values["Controller"] });
</aside>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @*<h1 class="m-0">Employee Setup</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Employee">Employee</a></li>
                        <li class="breadcrumb-item active">Employee Setup</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Employee Setup</h3>
                </div>
                <form class="form-horizontal" id="frmEmployee">
                    <div class="card-body">
                        <input type="hidden" class="form-control form-element" id="EmployeeId" name="EmployeeId" />
                        <input type="hidden" class="form-control form-element" id="InstituteId" name="InstituteId" />

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="FirstName">First Name<span style="color:red">*</span> </label>
                                <input type="text" class="form-control form-element validation" required id="FirstName" name="FirstName" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="MiddleName">Middle Name</label>
                                <input type="text" class="form-control form-element validation" id="MiddleName" name="MiddleName" placeholder="Middle Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="LastName">Last Name<span style="color:red">*</span> </label>
                                <input type="text" class="form-control form-element validation" required id="LastName" name="LastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="EmployeeFullName">Full Name<span style="color:red">*</span> </label>
                                <input type="text" class="form-control form-element validation" required id="EmployeeFullName" name="EmployeeFullName" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="DepartmentId">Department<span style="color:red">*</span> </label>
                                <select class="form-control form-element validation" data-v-index="0" id="DepartmentId" name="DepartmentId">
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="DesignationId">Designation<span style="color:red">*</span> </label>
                                <select class="form-control form-element validation" data-v-index="0" id="DesignationId" name="DesignationId">
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="DateOfBirth">Date Of Birth<span style="color:red">*</span> </label>
                                <div class="input-group date" data-target-input="nearest">
                                    <input type="text" class="form-control datepicker form-element validation" required id="DateOfBirth" name="DateOfBirth" data-target="#DateOfBirth" placeholder="MM/DD/YYYY">
                                    <div class="input-group-append" data-target="#DateOfBirth" data-toggle="datepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="Gender">Gender<span style="color:red">*</span> </label>
                                <select class="form-control form-element validation" data-v-index="0" id="Gender" name="Gender">
                                </select>
                            </div>
                            <div class="form-group col-md-4" hidden>
                                <label for="Education">Education<span style="color:red">*</span> </label>
                                <input type="text" class="form-control form-element" id="Education" name="Education" placeholder="Education">
                            </div>
                            <div class="form-group col-md-4" hidden>
                                <label for="Experience">Years Of Experience</label>
                                <input type="text" class="form-control form-element" id="Experience" name="Experience" placeholder="Experience">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address">Address</label>
                            <textarea class="form-control form-element editor validation" id="Address" name="Address"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="Email">Email<span style="color:red">*</span> </label>
                                <input type="text" class="form-control form-element validation" data-f-type="email" required id="Email" name="Email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Mobile">Mobile</label>
                                <input type="text" class="form-control form-element validation" id="Mobile" name="Mobile" placeholder="Mobile">
                            </div>

                        </div>
                        <div class="form-row" style="padding-top:10px;">
                            <div class="form-group col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="IsActive">
                                    <label class="form-check-label" for="IsActive">
                                        Active
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="IsOfficeHead">
                                    <label class="form-check-label" for="IsOfficeHead">
                                        Office Head
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="PAOfDeptHead">
                                    <label class="form-check-label" for="PAOfDeptHead">
                                        PA of Dept. Head
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label for="About">About</label>
                            <textarea class="form-control form-element editor" id="About" name="About"></textarea>
                        </div>
                        <fieldset class="form-group border p-3" id="profilesectiondivid" hidden>
                            <legend class="w-auto px-2">Employee Profile Section</legend>
                            <div class="form-group col-md-4">
                                <select class="form-control form-element" id="ProfileSectionId" name="ProfileSectionId">
                                </select>
                                <br />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-element editor validation" id="ProfileSectionDetails" name="ProfileSectionDetails"></textarea>
                            </div>
                            <div class="form-group">
                                <br />
                                <button type="button" id="btnAddProfileSection" class="btn btn-success pull-right" style="float: right;"><i class="fa fa-save"></i> Save Profile Section </button>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save </button>
                        <button type="reset" id="btnClear" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i> Clear</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>

            <!-- /.row -->
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title">Employee List</h3>
                </div>
                <div class="card-body">
                    <div id="formDetails"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script src="~/pagejs/institute/Employee.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Employee.init();
        });
    </script>
}

